<!--[if lt IE 9]>
<script src="{{ site.url }}/assets/js/vendor/IE9.js" async="true"></script>
<script src="{{ site.url }}/assets/js/all_IE8.js" async="true"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="{{ site.url }}/assets/js/all.js" async="true"></script>
<!--<![endif]-->

{% if site.mathjax != false %}
	{% include mathjax.html %}
{% endif%}

{% if page.mermaid == true %}
	{% include mermaid.html %}
{% endif%}

{% include analytics.html%}

{% if page.comments != false %}
{% include disqus_comments.html %}
{% endif %}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55181e234a9ac98b" async="async"></script>
 -->

