
$font-stack: 'Helvetica Neue', Helvetica, Tahoma, Arial, 'DejaVu Sans', 'Hiragino Sans GB', 'Microsoft JhengHei', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif !default;
$lang-font-path: '../fonts'  !default;

@mixin fontface-tpl($fontname ) {
  /* for IE */
  @font-face {        
    font-family: '#{$fontname}';
    src: url('#{$lang-font-path}/#{$fontname}.eot');
    font-weight: normal;
    font-style: normal;
  }
  /* for other browsers */
  @font-face {        
    font-family: '#{$fontname}';
    src: url('#{$lang-font-path}/#{$fontname}.eot?');
    src: url('#{$lang-font-path}/#{$fontname}.eot?#iefix') format('embedded-opentype'),
      url('#{$lang-font-path}/#{$fontname}.woff2') format('woff2'),
      url('#{$lang-font-path}/#{$fontname}.woff') format('woff'),
      url('#{$lang-font-path}/#{$fontname}.ttf') format('truetype'),
      url('#{$lang-font-path}/#{$fontname}.svg##{$fontname}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin vertical-writing($wm) {
  -moz-writing-mode: vertical-#{$wm};
  -webkit-writing-mode: vertical-#{$wm};
  -o-writing-mode: vertical-#{$wm};
  -ms-writing-mode: tb-#{$wm};
  writing-mode: vertical-#{$wm};
}

@include fontface-tpl('MongolianBaiti');
@include fontface-tpl('QomolangmaUchenSarchung');

/* vertical layout from left to right. For Traditional Mongolian, Manchu. */
.lang-mn, .lang-mnc, .lang-sjo, [lang="mn-Mong"], [lang="mnc"], [lang="sjo"] {
  font-family: 'Mongolian Baiti', 'Mongolian White', 'MongolianBaiti', #{$font-stack};
  font-weight: normal !important;
  @include vertical-writing('lr');
}
/* for Tibetan */
.lang-bod,.lang-bo, [lang="bo"]{
  font-family: "Qomolangma-Uchen Sarchung", '珠穆朗玛—乌金萨琼体', "Qomolangma-Uchen Suring", Kokonor, Kailasa, "Tibetan Machine Uni", "Microsoft Himalaya", 'QomolangmaUchenSarchung', #{$font-stack};
  font-weight: normal !important;
}

/* for Myanmar
.lang-my, [lang="my"] {
  font-family: Padauk, Myanmar3, Parabaik, "MyMyanmar Unicode", Myanmar2, sans-serif;
}

/* vertical layout from right to left. For Chinese and Japanese. */
.lang-zh, .lang-jp {
  @include vertical-writing('rl');
}
