---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "gist";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";
@import "lang";

.mathjax_alt {
	display: none;
}

code.highlight, .highlight code{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.highlight{
  padding: 1em;
  position: relative;
  line-height: 1.5;
}

#headers {
  background-color: white;
  box-shadow: 0 0 0 0,0 6px 12px rgba(0,0,0,0.1);
  position: fixed;
  right: 0.5em;
  top: 50%;
  max-width: 11em;
  min-width: 5em;
  margin-top: -2.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

.dl-menuopen {
  padding: 0.7em;
}

#dl-headers button{
  position: fixed;
  right: 1em;
  top: 50%;
  margin-top: -2.5em;
}

@media (min-width: 601px){
  #dl-headers button.dl-btn{
    display: none;
  }
  ul#headers {
    padding: 0.7em;
  }
}

@media (max-width: 600px){ 
  ul#headers {
    display: none;
    top: auto;
    bottom: 0;
  } 
  #dl-headers button{
    right: 0; 
  }
}
#headers li span {
  max-width: 10em;
  min-width: 4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#headers li.on{
  background-color: #e8e8e8;
}

#headers{
  list-style: none;
  padding-left: 0;
  line-height: 1.3em;
}

#headers .h1 {
  padding-left: 0;
}

#headers .h2 {
  padding-left: 0.5em;
}

#headers .h3 {
  padding-left: 1em;
}

#headers .h4 {
  padding-left: 1.5em;
}

#headers .h5 {
  padding-left: 2em;
}

#headers .h6 {
  padding-left: 2.5em;
}

