---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "gist";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";
@import "lang";

.mathjax_alt {
	display: none;
}

.highlight code{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.highlight{
  padding: 1em;
  position: relative;
  line-height: 1.5;
}

#headers {
  background-color: white;
  box-shadow: 0 0 0 0,0 6px 12px rgba(0,0,0,0.1);
  position: fixed;
  right: 0.5em;
  top: 50%;
  max-width: 16em;
  overflow: break-word;
  margin-top: -2.5em;
  padding-right: 0.7em;
}

@media (max-width: 600px){
  #headers {
    top: auto;
    bottom: 0;
  }
}

#headers a {
  width: 14em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#headers ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.3em;
}

#headers .h1 {
  padding-left: 0;
}

#headers .h2 {
  padding-left: 0.5em;
}

#headers .h3 {
  padding-left: 1em;
}

#headers .h4 {
  padding-left: 1.5em;
}

#headers .h5 {
  padding-left: 2em;
}

#headers .h6 {
  padding-left: 2.5em;
}

